body{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: row;
   
}


.logo-sb { 
    height: 40vh; 
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    padding: 10px;
 
 
  }
  
 
  .logo-sb p { 
    margin-top: 5px;
    font-size: 24px;
    line-height:10px ;
    letter-spacing: 0.36px;
  }
 
 
  .profile-picture { 
    opacity: 0.75;
    height: 250px;
    width : 250px; 
    overflow: hidden;
    border-radius:40% ;
 
     
 
 
  } 
 
 /* the upload icon style  */
 
 .material-symbols-outlined {
   font-variation-settings:
   'FILL' 0,
   'wght' 400,
   'GRAD' 0,
   'opsz' 20
 }
 
 
    
 
 
 /* the profile picture style {  */
 
 .material-symbols-outlined.pfp {
    font-size: 150px;
    color: rgb(16, 140, 255);
   font-variation-settings:
   'FILL' 0,
   'wght' 400,
   'GRAD' 0,
   'opsz' 40
 }
 
 
 /* file uploader */
 
 .file-uploader{
    opacity: 0 ;
    height: 100%;
    width: 100%;
    cursor: pointer;
    position: relative;
    top: -100%;
    /* left: 0; */
 
 }



 .content-section {
    display: none;
 }
 .content-section.active {
    display: block;
 }
 .link.active {
    font-weight: bold;
 }